div.pack {
	width: 780px;
	padding: 10px;
	margin: 0px;
	height: 106px;
	border: 1px solid #000;
	margin-bottom: 20px;
}

div.arrow {
	float: right;
	margin: 0px;
	padding: 0px;
}

div.arrow img {
	background: #000 !important;
}

div.create_pack {
	float: right;
	margin-top: 20px;
}

span.sort_option {
	margin: 5px;
	background-color: #eee;
	padding: 5px;
}

div.sort_controls {
	margin-top: -15px;
	margin-bottom: 20px;
}

div.pack .label {
	margin-right: 4px;
}
div.pack div.pack_image {
	float: left;
	margin-right: 20px;
}

div.pack div.pack_title {
	text-align: center;
	width: 100%;
	height: 28px;
	font-size: 18pt;
}

div.pack div.pack_mcversion {
	float: left;
	width: 180px;
}

div.pack div.pack_mods {
	float: left;
	width: 180px;
}

div.pack div.pack_author {
	float: left;
}

div.pack div.pack_downloads {
	float: left;
	width: 180px;
}

div.pack div.pack_upvotes {
	float: left;
	width: 180px;
}

div.pack div.pack_downvotes {
	float: left;
	width: 180px;
}

div.pack div.pack_download {
	float: left;
	width: 180px;
}